// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.virksomhedNavn{
  text-align: center;
  font-family: Baskerville;
  background: #AD9D8D;
  padding: 60px;
  font-weight: bold;
  letter-spacing: 8px;

}

a{
    color: black !important;
    text-decoration: none !important;
}


.overskrift1{
  font-family: Baskerville;
  font-weight: bold;
  text-align: left;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 40px;
}

h2{
  font-family: Baskerville;
  font-weight: bold;
  text-align: left;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.btn-primary {
  background-color: #AD9D8D;
  border-color: #928374;
}

.btn-primary:hover {
  background-color: #928374;
  border-color: #928374;
}

.container{
  font-family: Georgia;
}

.navbar{
  font-family: Georgia;
  padding: 30px;
}

.navbar-brand{

}